body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B4BEC9;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002333;
    color: white;
    padding: 10px 20px;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #DEEFE7;
}
.profile-pic {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}
h2 {
    font-size: 22px;
    color: #002333;
}
p {
    font-size: 18px;
    color: #333;
}
ul.skills {
    list-style: none;
    padding: 0;
}
ul.skills li {
    background-color: #159A9C;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 18px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #002333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a {
    color: #e2f1f8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}